.container.py-4
  %h1.pb-3.mb-4.border-bottom Shopping Cart
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Brand
        %th Category
    - @products.each do |product|
      %tbody
        %tr.table-info
          %td= product.name
          %td= product.price
          %td= product.brand.name
          %td= product.category.name
          %td
            = link_to "Add to Cart", orders_path(name: product.name, price: product.price), method: :post, class: 'btn btn-warning'  
  .w-100        
    = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer 
  = link_to 'View Cart',cart_path, class: 'btn btn-warning btn-lg'
